
 <style>
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    /*background-color: red;*/
    /*color: ;*/
    text-align: left;
}
</style>

<div class="footer">
	<div class="container">
 	 <p>Gastronomeal Admin Dashboard (version 2.0)</p>
 	</div>
</div> 

    </body>
</html>