<!DOCTYPE html>
<html>
    <head>
        <title>Admin Dashboard</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    </head>
    <body>

<% if (success && success.length>0) { %> 
<div class="container">
   <div class="alert alert-success" role="alert">   
        <%=success%> 
    </div> 
</div>
<% } %>

<% if (error && error.length>0) { %> 
<div class="container">
   <div class="alert alert-danger" role="alert">   
        <%=error%> 
    </div> 
</div>
<% } %>

<div id="landing-header">
	<h1>Welcome to GM Admin Dashboard</h1>

	<a href="/orders" class="btn btn-lg btn-success">Get Started</a>
</div>

<ul class="slideshow">
	<li></li>	
	<li></li>	
	<li></li>	
	<li></li>	
	<li></li>
</ul>

<% include partials/footer %>