<% include ./partials/header %>

<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="">
        <h1>Upload Orders (ADMIN) </h1>
      </div>
    </div>
  </div>

    <script type="text/javascript">
        $(document).ready(function(){
          $('form input').change(function () {
            var extension = this.files[0].name.split('.').pop().toLowerCase();
            if(extension!="json"){
                // alert("json file only!");
                $(this).val('');
                // alert(this);
                location.reload();
            }
            $('form p').text((this.files[0].name)).addClass("selectedfiles");
          });
        }); 
    </script>

      <form class="formA" method="post" action="/uploads" enctype="multipart/form-data">
        <!-- <input class="formC" type="file" name="myfile" multiple> -->
        <input class="formC" type="file" name="myfile">
        <!-- <p class="formB">Drag your files here or click in this area.</p> -->
        <p class="formB">Click/Drag&Drop to upload JSON file here.</p>
        <button class="formD" type="submit">Upload</button>
      </form>

</div>

<% include ./partials/footer %>
